<!DOCTYPE html>
<html>
@*Header Part*@
@Html.Partial("Partials/_header")

<body class="m-index" data-scrolling-animations="true" data-equal-height=".b-auto__main-item">
    @*Body Start*@
    @Html.Partial("Partials/_body")

    @*Navigation Part*@
    @Html.Partial("Partials/_navigation")

    @*Rendering the body*@
    <section id="content">

        <div class="content">
      

                @RenderBody()

         </div>
    </section>

    @*Footer part*@
    @Html.Partial("Partials/_footer")

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>