@model CarPartsStore__License_App_.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Manage/_accountLayout.cshtml";
}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Resetare parolă</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-md-9 admin-content" id="change-password">

        <div class="panel panel-info" style="margin: 1em;">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.LabelFor(m => m.OldPassword, new { @class = "control-label panel-title" })</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Introduceți parola curentă", @name = "password", @id = "old_password" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" style="margin: 1em;">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.LabelFor(m => m.NewPassword, new { @class = "control-label panel-title" })</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Introduceți parola nouă", @name = "password", @id = "new_password" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" style="margin: 1em;">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label panel-title" })</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmați parola nouă", @name = "password_confirmation", @id = "confirm_password" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info border" style="margin: 1em;">
            <div class="panel-body">
                <div class="form-group">
                    <div class="pull-left">
                        <input type="submit" class="form-control btn btn-primary" value="Resetare parolă" name="submit" id="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
}